<div class="col-xs-12 padding-zero col-height">    
    <div class="main-content">
        <div class="center-content-reports">
            <alert type="{{ listMastersStatus.type }}" ng-if="!!listMastersStatus" close="clearAlert('list')">{{ listMastersStatus.message }}</alert>
            <div id="jobs-list">
                <table class="table" ng-show="!jobs.length">
                    <thead>
                         <tr>
                            <th data-field="select">Select</th>
                            <th data-field="id">No.</th>
                            <th data-field="jobname">Job Name</th>
                            <th data-field="module">Module</th>
                            <th data-field="functions">Function</th>
                            <th data-field="createdby">Created By</th>
                            <th data-field="createdat">Created At</th>
                         </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="master in masters">
                            <td data-title="'Select'" class="master-id-col">
                                <input type="checkbox" name="masterGroup" ng-model="checkedMasters[$index]" ng-change="selectMaster('{{  master.hostname }}')"></input>
                            </td>
                            <td data-title="'Id'" class="master-id-col">{{$index + 1}}</td>
                            <td data-title="'Job Name'">{{ master.hostname }}</td>
                            <td data-title="'Module'">{{ master.hostname }}</td>
                            <td data-title="'Function'">{{ master.hostname }}</td>
                            <td data-title="'CreatedBy'">{{ master.hostname }}</td>
                            <td data-title="'CreatedAt'">{{ master.hostname }}</td>
                        </tr>
                    </tbody>
                </table>
                <table ng-hide="!jobs.length" class="table master-list-table">
                    <tr>
                        <td>0 jobs created.</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

