<!-- <div class="col-xs-9 col-height padding-zero center-container"> -->
    <div class="main-content">
        <div class="center-content">
            <div class=" row page-header">
            </div>

            <div id="jobs-detail">
            <h4>Detail</h4>
            <pre>{{ fileContent }}</pre>
            </div>
        </div>
        <footer></footer>
    </div>
<!-- </div> -->
<!-- COMMENTING OUT UNTIL THE REDESIGN
<div class="col-xs-3 col-height padding-zero right-container">
    <ui-view class="col-height">
</div> -->
