<!-- <div class="col-xs-9 col-height padding-zero center-container"> -->
    <div class="main-content">
        <div class="center-content-reports">
            <div class=" row page-header"></div>
            <div id="chart-container" ng-show="chartVisible">
            <div class="pull-left chart-div">
            	<div class="chart-title"><h4>Minions Connection State</h4></div>
            	<div id="minions-all-chart" class="donut-charts" google-chart chart="statusChart" before-draw></div>
            		<div class="text-minion-count">
            			<h6>Total Minions</h6>
            			<h4>{{ totalMinionsAll }}</h4>
            		</div>

            </div>

            <div class="pull-left right-align-charts chart-div">
            	<div class="chart-title"><h4>Minions Key State</h4></div>
            	<div id="minions-key-status-chart" class="donut-charts" google-chart chart="keyChart"></div>
            		<div class="text-minion-count">
            			<h6>Total Minions</h6>
            			<h4>{{ totalMinionsAll }}</h4>
            		</div>
            </div>

            <div class="pull-left chart-div second-line-chart">
            	<div class="chart-title"><h4>Minions OS Type</h4></div>
            	<div id="minions-os-chart" class="donut-charts" google-chart chart="osTypeChart"></div>
            		<div class="text-minion-count">
            			<h6>Total Minions</h6>
            			<h4>{{ totalMinionsAll }}</h4>
            		</div>
            </div>

            <div class="pull-left right-align-charts chart-div second-line-chart">
            	<div class="chart-title"><h4>Minions Versions</h4></div>
            	<div id="minions-version-chart" class="donut-charts" google-chart chart="verionChart"></div>
            		<div class="text-minion-count">
            			<h6>Total Minions</h6>
            			<h4>{{ totalMinionsAll }}</h4>
            		</div>
            </div>
            </div>
		</div>
        <footer></footer>
    </div>
<!-- </div> -->

<!-- COMMENTING OUT UNTIL THE REDESIGN
<div  id="right-bar-container" class="col-xs-3 col-height padding-zero right-container">
    <ui-view class="col-height">
</div>
 -->
