<!-- <div class="col-xs-9 col-height padding-zero center-container"> -->
    <div class="main-content">
        <div class="center-content-reports">
            <div class=" row page-header">
                    <div id="user-btns" class="pull-left">
                        <button id="delete-user-btn" ng-show="state.current.name == 'salt.dashboard.settings.users.list'" class="btn btn-primary settings-action-btn pull-right"
                            ng-click="confirmDeleteUsers()" bs-tooltip="'Remove'" data-trigger="hover" container="body" placement="top"><span class="glyphicon glyphicon-remove-sign"></span>
                        </button>
                        <button id="add-user-btn" ng-show="state.current.name == 'salt.dashboard.settings.users.list'" class="btn btn-primary settings-action-btn pull-right"
                            ui-sref="salt.dashboard.settings.users.add" bs-tooltip="'Add'" data-trigger="hover" container="body" placement="top"><span class="glyphicon glyphicon-plus-sign"></span>
                         </button>
                    </div>
            </div>

            <div ui-view class="padding-zero"></div>
        </div>
        <footer></footer>
    </div>
<!-- </div> -->
<!-- COMMENTING OUT UNTIL THE REDESIGN
<div  id="right-bar-container" class="col-xs-3 padding-zero right-container">
</div>
 -->
