<div class="col-xs-12 padding-zero col-height">    
    <div class="main-content">
        <div id="beacon-data" ng-show="beaconsList.length">
            <div id="beacons-lib-desc-container">
                <div class="col-xs-4 col-height">
                    <div class="panel panel-beacons">
                        <div class="panel-heading">
                            <h3 class="panel-title">Beacon Library</h3>
                        </div>
                        <div class="panel-body">
                            <ul class="nav">
                                <li ng-click="setSelectedBeacon(beacon)" ng-repeat="beacon in beaconsList" ng-class="{'selected': selectedBeacon.id === beacon.id }">
                                    <label class="target-action-checkbox"><input type="checkbox" ng-model="beacon.isChecked" ng-change="checkBoxStatusBeacons();"></input><span class="label-span">{{beacon.name}}</span></label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xs-8 col-height">
                    <div class="panel panel-beacons">
                        <div class="panel-heading">
                            <h3 class="panel-title">Description</h3>
                        </div>
                        <div class="panel-body">
                            {{selectedBeacon.description}}
                        </div>
                    </div>
                </div>
            </div>
            <div id="beacons-list">
                <table  class="table">
                    <thead>
                        <tr>
                            <th data-field="name">Name</th>
                            <th data-field="taretgroup">Target Group</th>
                            <th data-field="time">Time</th>
                            <th data-field="success">Success</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a>Thatch</a></td>
                            <td>QA2</td>
                            <td>17:23:44</td>
                            <td>Success</td>
                        </tr>
                        <tr>
                            <td>Matt</td>
                            <td>QA3</td>
                            <td>20:29:04</td>
                            <td>Fail</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div id="beacons-chart">
                <div google-chart chart="beconsLoginsPerHourChart" style="width:auto;height:240px;"></div>
            </div>
        </div>

        <div ng-hide="beaconsList.length">
            <div ng-show="loading" class="alert alert-warning">Loading data...</div>
            <div ng-hide="beaconsList.length || loading" class="alert alert-warning">0 Beacons in System.</div>
        </div>
    </div>
</div>