<div class="col-xs-9 col-height padding-zero center-container">
    <div class="main-content">
        <div class="center-content">
            <div class=" row page-header">
             <div ng-show="!beaconsList.length">
                    <div ng-show="!loading" class="alert alert-warning">0 Beacons in Systems.</div>
                    <div ng-show="loading" class="alert alert-warning">Loading data...</div>
            </div>
            </div>
            <div id="beacon-data" ng-show="beaconsList.length">
                <div id="beacons-lib-desc-container">
                    <div class="col-xs-4 col-height">
                        <div class="panel panel-beacons">
                            <div class="panel-heading">
                                <h3 class="panel-title">Beacon Library</h3>
                            </div>
                            <div class="panel-body">
                                <div id="target-beacon-list">
                                <ul class="nav">
                                    <li ng-click="setSelectedBeacon(beacon)" ng-repeat="beacon in beaconsList" ng-class="{'selected': selectedBeacon.id === beacon.id}">
                                        <label class="target-action-checkbox"><input type="checkbox" ng-model="beacon.isChecked" ng-change="checkBoxStatusBeacons();" indeterminate></input><span class="label-span">{{beacon.name}}</span></label>
                                    </li>
                                    
                                </ul>
                                </div>
                                <ul class="nav">
                                <li class="divider"></li>
                                <li class="text-center"><a href="" ng-click="sendTargetList()">Apply</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-8 col-height">
                        <div class="panel panel-beacons">
                            <div class="panel-heading">
                                <h3 class="panel-title">Description</h3>
                            </div>
                            <div class="panel-body">
                            {{selectedBeacon.description}}
                            </div>
                        </div>
                    </div>
                </div>
                
                <div id="beacons-list" ng-show="targetBeaconsEvent[beaconKey].length" ng-repeat="beaconKey in beaconKeys">
                    <table class="table" ng-show="targetBeaconsEvent[beaconKey].length">
                        <thead>
                             <tr>
                                <th data-field="id">Beacon</th>
                                <th data-field="name">Minion</th>
                                <th data-field="hostname">Host Name</th>
                                <th data-field="username">User</th>
                                <th data-field="timestamp">Timestamp</th>
                                <th data-field="timestamp">Tag</th>
                             </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="targetBeaconEvent in targetBeaconsEvent[beaconKey]">
                                <td data-title="name">{{ targetBeaconEvent.name }}</td>
                                <td data-title="id" class="master-id-col">{{ targetBeaconEvent.event_data.data.id }}</td>
                                <td data-title="hostname">{{ targetBeaconEvent.event_data.data.hostname }}</td>
                                <td data-title="username">{{ targetBeaconEvent.event_data.data.user }}</td>
                                <td data-title="timestamp">{{ targetBeaconEvent.event_data._stamp }}</td>
                                <td data-title="timestamp">{{ targetBeaconEvent.tag }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div id="beacons-chart">
                    <div google-chart chart="beconsLoginsPerHourChart" style="width:auto;height:240px;"></div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
</div>

<div  id="right-bar-container" class="col-xs-3 col-height padding-zero right-container">
    <ui-view class="col-height">
</div>
