.event-header {
  background-color: #2C3E50;
  color: white;
  height: 40px;
  padding: 10px;
}

.event-header span {
    float: left;
    width: 25%;
}

.event-data {
  border-bottom: 1px solid;
  margin-bottom: 10px;
  max-height: 300px;
  overflow: scroll;
}
