<div class="col-xs-2 nav-container col-height">
	<accordion id="salt-reports" class="sidebar-accordion" close-others="oneAtATime">
	    <accordion-group id="reports-panel" ng-init="isopenrep = true" is-open="isopenrep">
	        <accordion-heading ng-click="isopenrep=!isopenrep"><i class="pull-left glyphicon" ng-class="{ 'ssIcons-icon_close1': isopenrep,'ssIcons-icon_open1': !isopenrep}"></i> Reports</accordion-heading>
	        <div>
	            <ul class="nav nav-respane">
	            	<li ui-sref-active="active"><a ui-sref="salt.dashboard.reports.minions">All Minions Status</a></li>
	            </ul>
	        </div>
	    </accordion-group>

	</accordion>
</div>
<div class="col-xs-10 padding-zero col-height state-container">
	<ui-view>
</div>