<div class="modal-header">
    <h3 class="modal-title">Edit folder {{ editFolder.name }}</h3>
</div>
<div class="modal-body">
    <form name="editTargetFolderForm" id="edit-target-folder-form" class="form-horizontal" role="form" ng-submit="editTargetFolderOk(editFolder)" novalidate>
        <div class="form-group">
            <label class="col-xs-3 control-label">New Name</label>
            <div class="col-xs-9" ng-class="{'has-error': editTargetFolderForm.newfoldername.$error.required}">
                <input name="newfoldername" class="form-control" ng-model="editFolderData.folder_new_name" ng-pattern="/^[a-zA-Z0-9\.\- ]+$/" maxlength="65" ng-trim="false" required salt-form-focus>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button class="btn btn-primary site-btn-form" ng-click="editTargetFolderOk(editFolder)" ng-disabled="editTargetFolderForm.$invalid">Save</button>
    <button class="btn btn-primary site-btn-form" ng-click="editTargetFolderCancel()">Cancel</button>
</div>