<div id="navigation" class="col-md-2 col-sm-2 col-xs-2 col-height nav-container">
    <div class="row col-height">
        <tabset type="pills" id="salt-quicklaunch" class="col-height">
            <tab>
                <tab-heading>
                    <span class="glyphicon glyphicon-cloud"></span>
                </tab-heading>
                <ng-include src="'views/tabs/resources.html'"></ng-include>
            </tab>
            <tab>
                <tab-heading>
                    <span class="glyphicon glyphicon-flash"></span>
                </tab-heading>
                <ng-include src="'views/tabs/jobs.html'"></ng-include>
            </tab>

            <tab>
                <tab-heading>
                    <span class="glyphicon glyphicon-dashboard"></span>
                </tab-heading>
                <ng-include src="'views/tabs/reports.html'"></ng-include>
            </tab>
            <tab>
                <tab-heading>
                    <span class="glyphicon glyphicon-cog"></span>
                </tab-heading>
                <ng-include src="'views/tabs/settings.html'"></ng-include>
            </tab>
        </tabset>
     </div>
</div>
